@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";

}

<div class="text-center">
    <img src="~/images/BuckingBronco.png" alt="Bucking Bronco" />

</div>

<h2 class="text-danger">Whoops partner, you just got bucked off by an error!</h2>
